<section class="sm:max-w-max md:mx-8 line-height-3">
  <h1 class="green--color">FAQ</h1>

  <h2 class="mt-5">WHAT WE DO</h2>
  <ul>
    <li>In short, we convert any boring plastic debit/credit/bank cards into a
      working luxurious metal card (Stainless Steel or 24K Gold Plated Stainless Steel).
    </li>
    <li>
      We transplant the chip from your plastic card onto your new metal card.
      (Soon Patented Technology). We also transfer the data of your magnetic strip over to the metal card.
    </li>
    <li>
      Everything on the front of the card can be customized if you order a Full Custom Card.
      After all, it is your card and you can design it anyway you would like.
      We are here to help you with the design. Just place an order and discuss it with us at chridtianhalabi@gmail.com
    </li>
    <li>
      You will have a totally functional metal card (Swipe and chip) except for the tap and pay (NFC) feature.
      But you can always use Apple Pay, Google Pay or Samsung Pay on your smartphone for the tap and pay feature if you want.
    </li>
  </ul>

  <h2 class="mt-7">HOW WE DO IT?</h2>
  <ul>
    <li>
      To be able to have a fully functional metal card you'll need to ship us your existing plastic card.
      We will then transfer all the data
      from your old card to your new metal card. Our state of the art machines
      securely transfer the data from the magnetic strip to the new metal card.
    </li>
    <li>
      We will also be using our own developed and soon Patented Technology/Method to remove
      your chip from your original card and transfer
      it safely onto your new metal card. We will return your original card along with your new personalized luxury metal card.
    </li>
    <li>
      Please note that once we remove the chip from your original plastic card, that card will no longer be functional.
      You will only be able to swipe with it. You will be using your new metal credit card in its place.
    </li>
  </ul>

  <h2 class="mt-7">DOES IT WORK ON ATM MACHINES AND EVERYWHERE ELSE?</h2>
  <ul>
    <li>
      Yes, your new luxury metal card does work in ATM machines and everywhere else. But just like any other metal card it is not really
      recommended to use these cards in ATM machines or any machine that requires the full insertion of the card into the reader. Due to
      the metal cards being heavier than plastic cards, some full insertion machine's rollers may be too stiff to eject the card.
      It's better if you only use part insertion devices, where you can always see part of the card, in order to remove it manually.
    </li>
    <li>
      Some ATM also support NFC.
      You can setup your smartphone to use the contactless (NFC) feature (Apple Pay, Google Play, Samsung Pay, etc...)
      to withdraw money at ATM machines.
    </li>
    <li>
      Your metal card should work every where your plastic card works. Since the only difference now is the housing for the chip.
      It is no longer sitting in your plastic card but on a metal one. Your card is the chip and not the plastic around it.
    </li>
    <li>
      In the very unlikely event that your metal card does get stuck in these ATM machines,
      simply walk into the branch with your ID to claim your card back.
    </li>
  </ul>

  <h2 class="mt-7">DOES THE TAP AND PAY FUNCTION (NFC) STILL WORK?</h2>
  <ul>
    <li>
      No, it will not. But you can always use your smartphone to enable “tap and pay”
      (NFC) with your phone if this is something that you would like to keep.
      You can use apps like Apple Pay, Google Play, Samsung Pay, etc. for this.
    </li>
    <li>
      The tap and pay (contactless) feature is very tricky.
      The premium metal we use will be blocking the frequency emitted
      from the chip and may not be able to register at the POS machine.
    </li>
    <li>
      We are still researching on a technology to enable the transfer of “tap and pay” functionality.
      At this time we do not have one.
    </li>
  </ul>

  <h2 class="mt-7">DOES THE MAGNETIC STRIP WORK?</h2>
  <ul>
    <li>
      <!-- Yes, we securely transfer the data from your plastic card over to the metal card by using our state of the art machines.
      Your card data will never be stored on our systems. -->
      No, With Magnetic Strip technology declining over the years, we decided not to include it in our premium cards.
    </li>
    <li>
      <!-- You can be sure that we tested the magnetic strip before sending you the new metal card. -->
      If requested, the Magnetic Strip can be added to the card.
    </li>
  </ul>

  <h2 class="mt-7">TOTAL SECURE PROCESS</h2>
  <ul>
    <li>
      Criply take the utmost care of your financial safety. You can also temporary 'freeze'
      your card in your online banking dashboard before shipping it to us.
      Our equipment does not store any personal data, it simply transfers from A to B.
    </li>
    <li>
      We have spent thousands of Dollars to create this amazing business focusing primarily on longevity,
      quality of service and security. We are here to help people by making the world's best
      custom luxury cards for everyone and not stealing information (jail is not on our bucket list).
    </li>
    <li>
      Our website is encrypted with a strong SSL (Secure Socket Layer) and we use secure and regulated payment provider.
    </li>
    <li>
      We will never ask for your card PIN. However, if you are still concerned,
      you do have the option to send a card with zero monetary funds available.
      Or a card that has not been activated or freeze your card during the time we process your order.
    </li>
  </ul>

  <h2 class="mt-7">HOW LONG DOES THE PROCESS TAKE?</h2>
  <ul>
    <li>
      Send us your plastic card and we will notify you once we received it.
      We recommend sending this Express so you can always track it online and avoid any delays.
      Once received we will begin the production of your new custom luxury metal card and
      it will be ready for postage within 2-4 days. We will send both your cards new and old back to you.
      One-way shipping from us to you is already included in the price.
    </li>
  </ul>

  <h2 class="mt-7">WHERE DO YOU SHIP?</h2>
  <ul>
    <li>
      We can ship globally. Please keep in mind that due to the current Global Pandemic shipping may experience slight delays.
    </li>
    <li>
      Our services are also available for international credit / debit / prepaid / bank cards.
      Including USA, Canada, UK, Australia, Japan, Spain, Mexico, Italy, Germany, France, Brazil, South Korea, Singapore,
      UAE and many many other countries. Please ship your card as a "BUSINESS CARD" NOT AS A CREDIT CARD
      if needed to avoid possible shipping problems and choose "documents" for reason of export.
    </li>
    <li>
      Customers from all around the world send us their plastic cards to have it customized.
      After placing an order you will get simple shipping instructions.
      It's the customers responsibility to ship the card to our lab in Lebanon for processing.
      The customer must pay for his own shipping to us.
    </li>
  </ul>

  <h2 class="mt-7">CAN I USE MY OWN DESIGNS?</h2>
  <ul>
    <li>
      Sure, just order Full Custom Card and get in touch with our designers at chridtianhalabi@gmail.com. Upload your
      design/logo in high resolution if possible. A vector file (.svg) or transparent background is preferred.
      We can work with almost all designs. Keep in mind our laser can not laser different colors.
    </li>
    <li>
      The buyer takes full responsibility in acknowledging that the image/design
      they sent us is not copyright or trademark infringements.
    </li>
  </ul>

  <h2 class="mt-7">DO YOU OFFER INSURANCE ON THE CARDS?</h2>
  <p>
    Yes, we do offer insurance (Criply+) for our cards. It is $10 for 365 days
    from the original purchase date and up to 1 replacement card.
  </p>
  <p>
    This will cover:
  </p>
  <ul>
    <li>
      Lost cards
    </li>
    <li>
      Stolen cards
    </li>
    <li>
      Damaged cards
    </li>
    <li>
      Bank re-issued cards
    </li>
    <li>
      Card expiry (If your card expires in the first 365 days)
    </li>
  </ul>
  <p>If any of these above mentioned cases occur you can get a new metal card if you have bought insurance.</p>
  <p>
    Always send us a new plastic card (with chip on it), don't send us back your old plastic
    card which we have previously converted (because it has no chip) and don't send us the metal
    card (we can't take out the chip from the metal housing). Request a new plastic
    card from your bank if your card is damaged or has expired.
  </p>
  <p>
    We recommend you add the Criply+ insurance option when you place an order.
    It must be done at the time of purchase. The Criply+ insurance includes free one-way shipping from us to you.
  </p>

  <h2 class="mt-7">WHAT HAPPENS IF MY CARD IS LOST OR STOLEN?</h2>
  <ul>
    <li>
      Contact your bank immediately. You must treat this the same as any credit or debit
      card that is owned by the card issuer. Criply does not cover costs for a lost, stolen or damaged card.
    </li>
    <li>
      If you have purchased the insurance (Criply+) at checkout we will create and ship you
      back a replacement (1 time) metal card if the occurrence falls between 365 days from original purchase date.
      You need to ship us your new plastic card at your own
      expense but the Criply+ insurance includes free one-way shipping from us to you.
    </li>
  </ul>

  <h2 class="mt-7">WHAT WE ARE NOT</h2>
  <ul>
    <li>
      Criply is not a bank or credit card company. We do not offer credit,
      points or other financial services. We only upgrade plastic credit/debit/bank
      cards (with magnetic strips) by lasering your personal design onto your metal of choice.
    </li>
    <li>
      There are No applications. No annual fees. No hidden fees. No minimum purchase. No credit checks.
      You can get a custom luxury metal card if you have any plastic card that you would like for us to convert into metal.
    </li>
  </ul>

  <h2 class="mt-7">WHAT IS THE RETURN POLICY?</h2>
  <ul>
    <li>
      Returns or refunds will not be given to any customizable products or services.
      All sales are final and if you think there is an error in any details of your order,
      you can contact us at chridtianhalabi@gmail.com. We will try and rectify the issue,
      however if the customizable process has already begun or is completed,
      a fee may be charged if you still wish to change the design.
    </li>
  </ul>

  <h2 class="mt-7">OUR METAL CARD SPECS:</h2>
  <ul>
    <li>Material: Stainless Steel or Stainless Steel with 24K Gold Plating or Brass</li>
    <li>Size: 85.60 mm x 53.98 mm (Standard credit card size)</li>
    <li>Weight: ~25 grams (Standar Card  ~14 grams)</li>
    <li>Thickness: ~0.8mm</li>
  </ul>
  <p>Color options:</p>
  <ul>
    <li>Matte or Mirror Black</li>
    <li>Matte or Mirror Chrome Silver</li>
    <li>Matte or Mirror Gold</li>
    <li>Matte or Mirror Rose Gold</li>
  </ul>

  <p>
    Criply cards are by far the heaviest and most luxurious one can buy. Even multi
    millionaires will be jealous when they find out your
    new custom metal card is heavier and does not have thousands of Dollars in annual fees.
  </p>

  <h2 class="mt-7">WHERE ARE YOU LOCATED?</h2>
  <p>Beirut, Lebanon.</p>
</section>
