<section class="sm:max-w-max md:mx-8 line-height-4 flex align-content-center justify-content-center flex-wrap flex-column">
  <h1 class="green--color">How It Works</h1>
  <h2 class="mt-5">THE PROCESS</h2>
  <ol type="1">
    <li>Place your order for a Premade Design or for a Full Custom Card.</li>
    <li>You then have to send your plastic card to our lab in Lebanon. You will receive the DELIVERY ADDRESS from us.</li>
    <li>Put your plastic card in any envelope and mail it.</li>
    <li>We will receive your card in approx. 2 to 4 working days.</li>
    <li>
      Upon receipt, we will laser your desired design onto the metal card,
      remove the chip from your plastic card and transplant it onto the metal card.
      We then securely transfer the magnetic stripe data from your plastic
      card to the metal card. For this we need about 1-2 days.
    </li>
    <li>
      You will receive your great new luxury metal card in the mail together with your old plastic card.
    </li>
  </ol>
  <div class="my-5">
    <h3 class="green--color mt-3">Rare & Exclusive.</h3>
    <p class="mb-5">
      Each card is individually crafted and hand-finished to be the only one
      like it in the world. With a precise laser, a beautiful design is engraved
      on your card just like magic.
    </p>
  </div>

  <div class="my-5">
    <h3 class="green--color">Heavier than any Card.</h3>
    <p>
      A heavy Card was not enough for us.
      So we made the World's Heaviest Luxury Metal Card. With 28 grams this
      card will make a true difference which you can feel. Say Goodbye to plastic.
    </p>
  </div>

</section>
