<footer class="flex sm:flex-row flex-column sm:text-left text-center align-content-center justify-content-around line-height-4 bg-gray-800">
  <div class="flex flex-column">
    <h3>Criply</h3>
    <a [routerLink]="['/faq']" style="text-decoration:none; color: grey;">FAQ</a>
    <a [routerLink]="['/how-it-works']" style="text-decoration:none; color: grey;">How It Works</a>
    <a [routerLink]="['/contact-us']" style="text-decoration:none; color: grey;">Contact Us</a>
  </div>
  <div class="flex flex-column">
    <h3>Information</h3>
    <a [routerLink]="['/terms-and-services']" style="text-decoration:none; color: grey;">Terms & Services</a>
    <a [routerLink]="['/privacy-and-policy']" style="text-decoration:none; color: grey;">Privacy & Policy</a>
    <a [routerLink]="['/refund-policy']" style="text-decoration:none; color: grey;">Refund Policy</a>
  </div>
  <div class="flex flex-column">
    <h3>Follow us</h3>
    <a href="https://www.instagram.com/criplylb/">
      <p-button icon="pi pi-fw pi-instagram"></p-button>
    </a>
  </div>
</footer>
<!-- <p>Copyright &copy; <script>document.write(new Date().getFullYear())</script>Criply</p> -->
