<section class="sm:max-w-max flex align-content-center flex-column flex-wrap line-height-3 text-center">
    <h1 class="text-3xl">Criply Converts Your Plastic Credit/Debit Card to Luxurious Metal or 24K Gold.</h1>
    <p class="text-sm" style="color: grey;">Works with any Card. No Annual Fees. No Hidden Fees. Secure.</p>
    <div class="flex  sm:flex-row flex-column flex-wrap align-content-center justify-content-around mt-5 ">
      <h2 class="align-self-center green--color" >Rare & Exclusive</h2>
      <p-galleria class="sm:ml-5 ml-0 my-3" [value]="products" [autoPlay]="true"[containerStyle]="{'max-width': '640px'}" [showThumbnails]="false">
        <ng-template pTemplate="item" let-item>
            <img [src]="'assets/images/premade/' + item.image"style="width: 100%;" />
        </ng-template>
      </p-galleria>
      <h2 class="align-self-center green--color sm:mt-0 mt-6">Heavier than any Card</h2>
    </div>

    <h3 class="mt-3">Our Vision</h3>
    <div class="flex justify-content-center">
      <p class="sm:w-6 my-3">
        For many decades Metal Credit/Debit Cards were only reserved for the wealthy elite.
        Until now! Criply is specialized in making the world's <b class="green--color">Heaviest</b> and most
        <b class="green--color">Luxurious</b> Custom Metal Cards because we believe you deserve better than plastic.
        Each card is a true art piece made for your pocket.
        No more spending a fortune just to own a luxury metal card. This is Criply.
      </p>
    </div>
    <div class="flex flex-column justify-content-between align-items-center ">
      <div class="flex flex-row justify-content-around my-2">
        <button pButton pRipple type="button" label="Premade Cards" class="p-button-text" [routerLink]="['/premade']"></button>
        <p class="m-5"></p>
        <button pButton pRipple type="button" label="Custom Cards" class="p-button-text" [routerLink]="['/custom']"></button>
      </div>
      <div class="h-20rem w-12 text-left mt-2" style="background-image: url('assets/Custom-Gold.png');background-repeat: no-repeat; background-position: center; background-size: cover;">
        <h2 class="ml-3 mt-4">The 24K ALL IN GOLD CRIPLY CARD</h2>
        <button pButton pRipple type="button" label="Learn More" (click)="showDialog()" class="p-button-raised p-button-text"></button>
        <p-dialog header="The 24K ALL IN GOLD CRIPLY CARD" [(visible)]="display">
          Not only plated but Fully made out of Gold. <br>
          What some can only dream about, can become in your possesion. <br>
          For more information about this Luxury Item, please Contact Us.
        </p-dialog>
      </div>
    </div>
</section>