<section class="flex justify-content-center flex-wrap line-height-3 text-lg sm:min-h-screen sm: my-3">
  <div class="flex flex-column align-content-center justify-content-center md:w-7">
    <h1 class="pt-3">Refund Policy</h1>
    <p>
      Due to the customized nature of your new luxury metal card
      and the irreversible process of transferring information to
      your new metal card, all sales are final and no refunds or returns are possible.
    </p>
    <b class="mt-2">Damages and issues</b>
    <p>
      We check each order carefully and make sure that there are no damages or issues.
      If you still think there is an error in any details of your order,
      you can contact us. We will try and rectify
      the issue, however if the customizable process has already begun or is
      completed, a fee may be charged if you still wish to change the design.
    </p>
    <b class="mt-2">Non-returnable items</b>
    <p>
      Certain types of items cannot be returned, like custom products (such as special orders or personalized items).
      Unfortunately, we cannot accept returns on sale items or gift cards.
    </p>
    <b class="mt-2">Refunds</b>
    <p>
      Because this is a customized product and because of
      the irreversible process of transferring information to your new
      luxury metal card, all sales are final and no refunds or returns are possible.
    </p>
  </div>
</section>